@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

$Main-background-color: #f5f5dc;

html {
  background-color: $Main-background-color;
}

body {
  margin: 10px 10px 10px 10px;
}

.columns{
  align-items: flex-start;
}

.column {
  flex-grow: 0;
  flex-basis: auto;
}

.tile{
  background-color: $Main-background-color;
}

#controls{
  padding-left: 10%;
}

#canvas{
  background-color: white;
  border: 10px solid black;
}

.activeTab{
  background-color: $primary;
}

#tabs{
  display: flex;
  justify-content: space-between;
}

#textareas{
  display: flex;
  align-items: flex-start;
}

span{
  padding-left: 15px;
}